// Colors
$white-color : white;
$light-color: rgb(126,211,111);
$dark-color : rgb(40,180,131);

$light-orange : #ffb900;
$dark-orange : #ff7730;

$light-blue : #2998ff;
$dark-blue : #5643fa;

// Grids
$grid-width : 100rem;
$gutter-horizontal : 6rem;
$gutter-vertical : 8rem;