.box{
    text-align: center;
    position: absolute;
    /*reference of top and left is parent element whose position is relative */
    top: 40%;
    left: 50%;
  
    /* reference of translate is element itself */
    transform: translate(-50%,-50%);
  
    &__heading{
      margin-bottom: 4rem;
      text-transform: uppercase;
      &_main{
        margin-left: 3rem;
        display: block;
        font-size: 6rem;
        letter-spacing: 4rem;
        
        /* animation should be present in key frames*/
        animation-name: moveinleft;
        animation-duration: 1s;
     
        /* animation starts after 2 sec */
        /* animation-delay: 2s; */
        /* number of times animation occur */
        /* animation-iteration-count: 3; */
     
        /* decide acceleration of animation */
        animation-timing-function: ease-out;
     }
  
     &_sub{
      display: block;
      font-size: 3rem;
      letter-spacing: 1rem;
  
      /* shortcut for animation */
      animation: moveinright 1s ease-out;
  }
  
    }
  }

.heading_secondary{
  font-size: 3.5rem;
  text-transform: uppercase;
  background-image: linear-gradient(to right,$light-color,$dark-color);
  display: inline-block;
  -webkit-background-clip: text;
  color: transparent;
  transition: all 0.2s;

  &:hover{
   transform: skewX(15deg) skewY(2deg) scale(1.1);
   text-shadow: 0.5rem 1rem 2rem rgba( #000000, 0.2);
  }
}

.heading-tertiary{
    text-transform: uppercase;
    font-size: 1.6rem;   
}
.paragraph{
    font-size: 1.4rem;
    &:not(:last-child)
    {
      margin-bottom: 2rem;
    }
}